body{
    width: 60%;
    margin: auto;
    background-color: red;
    color: rgb(246, 5, 5);
    font-size: 45px;
    font-family: monospace;
}
  
.container{
    padding-top: 200px;
    display: flex;
    justify-content: space-between;
}
img{
    padding: 20px 0px;
    }

a{
    color: aliceblue;
}
    a hover{
        background-color:lightsteelblue;
        color: pink
    }

    body{
        background-color: rgb(255, 231, 176);
        color: rgb(192, 192, 255);
    }


 